@import '~taro-ui/dist/style/components/modal.scss';
@import '~taro-ui/dist/style/components/fab.scss';
@import './styles/variables.scss';

::-webkit-scrollbar {
  display: none;
}

.weui-picker {
  left: calc((100vw - $app-width) / 2);
  width: $app-width;
  font-size: $picker-text;
}

.at-modal__container {
  width: calc($qr-size + 100px);
}

.at-modal__header {
  font-size: 0.6rem;
}

.at-modal__content {
  display: flex;
  justify-content: center;
  padding-block: 32px;
}

view {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $body-gray;
  font-family: $font-sans;
}

#app {
  max-width: $max-width;
}

.container {
  position: relative;
  height: 100%;
  font-size: 0.75rem;
}

.fab {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: $light-blue;
  width: 2.4rem;
  height: 2.4rem;
  &:hover {
    cursor: pointer;
  }
}
