var resultArr = ['', 'A+', 'A', 'A-', 'B+', 'B', 'B-', 'C+', 'C', 'C-'];
var descriptionArr = ['', '前2%或前2名', '2%～5%', '5%～10%', '10%～20%', '20%～30%', '30%～40%', '40%～50%', '50%～60%', '60%～70%'];

module.exports = {
    getSubject4Short: function (subject, maxLength) {
        return subject.length <= maxLength ? subject : subject.substring(0, maxLength - 1) + '...';
    },
    getResult: function (resultNum) {
        return resultArr[resultNum];
    },
    getDescription: function (resultNum) {
        return descriptionArr[resultNum];
    }
};
