$theme-blue: #5384e0 !default;
$border-gray: #d9d9d9 !default;
$max-width: 480pX !default;
$selector-height: 1.75rem !default;
$font-sans: 'Helvetica Neue', Roboto, Arial, sans-serif !default;
$font-serif: Georgia, 'Times New Roman', serif !default;
